<link
  rel="stylesheet"
  href="{{ 'collection-filter.css' | asset_url }}"
  media="all"
>

<style>
  .filter {
    --flexDirection: {{ flexDirection | default: 'row'  }};
  }
</style>

<div class="filter">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'filter' %}
        {% render 'collection-filter-items', _filter: collection.filters %}
    {% endcase %}
  {% endfor %}
</div>
