<link
  rel="stylesheet"
  href="{{ 'list-product.css' | asset_url }}"
  media="all"
>
<link
  rel="stylesheet"
  href="{{ 'product-item.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>
<div class="wrapper">
  <div class="list-product {{ classSilder}} tns-sli">
    {% for product in productList %}
      {% render 'product-item', product: product %}
    {% endfor %}
  </div>
  <div class="prev">
    {% render 'expand' %}
  </div>
  <div class="next">
    {% render 'expand' %}
  </div>
</div>
