<link
  rel="stylesheet"
  href="{{ 'popup-info.css' | asset_url }}"
  media="all"
>
<div id="popup-info">
  <div class="info-box">
    <div class="wrapper-title">
      <h3 class="title" data-type="">title</h3>
      <div class="btn_close-popup-info jsClosePopup">{% render 'icon-close' %}</div>
    </div>
    <div class="wrapper-content">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, nam ipsum rem, cupiditate optio corporis quasi
      nesciunt voluptatem nihil deleniti consectetur porro corrupti, cum accusamus excepturi tenetur doloribus dolorum
      ratione.
    </div>
  </div>
</div>
{{ 'popup-info.js' | asset_url | script_tag }}
