<link
  rel="stylesheet"
  href="{{ 'popup-product-item.css' | asset_url }}"
  media="all"
>
<link
  rel="stylesheet"
  href="{{ 'dialog-quick-view.css' | asset_url }}"
  media="all"
>
<div class="popup-wapper" id="popup-product-item">
  <div class="popup-content">
    <div class="content"></div>
    <div class="close-popup pointer-events">
      <div class="leftright"></div>
      <div class="rightleft"></div>
    </div>
  </div>
</div>
{{ 'popup-product-item.js' | asset_url | script_tag }}
