<div class="quantity-select">
  <span class="icon remove__qlt">
    {% render 'icon-remove' %}
  </span>
  <input type="number" value="1" min="1" class="quantity__input">
  <span class="icon add__qlt">
    {% render 'icon-add' %}
  </span>
</div>
<div class="add-to-cart">
  <button
    class="btn-add"
    {% if selectedQuantity == 0 %}
      disabled
    {% endif %}
  >
    {% render 'card' %}
    {% if selectedQuantity > 0 %}
      <span>Add to cart</span>
    {% else %}
      <span class="sold-out">Sold out</span>
    {% endif %}
  </button>
</div>
