<div class="product-gallery-wrapper">
  <div class="product-gallery">
    {% render 'product-gallery', navContainer: 'customize-thumbnails' %}
  </div>
  <div class="product-main">
    {% render 'product-gallery', navContainer: 'thumbnail-slider', main: 'product-main', isPresent: true %}
  </div>
</div>
