<div class="quantity-select">
  <span class="icon remove__qlt">
    {% render 'icon-remove' %}
  </span>
  <input type="number" value="1" min="1" class="quantity__input">
  <span class="icon add__qlt">
    {% render 'icon-add' %}
  </span>
</div>
<div class="add-to-cart">
  <a href="#">
    <div class="btn-add">
      {% render 'card' %}
      <span>Add to cart</span>
    </div>
  </a>
</div>
