<link
  rel="stylesheet"
  href="{{ 'product-options.css' | asset_url }}"
  media="all"
>
{%- capture formID -%}f{{productSelect.id | append: section.id}}{%- endcapture -%}

<div class="variants-wrapper">
  {%- if product.has_only_default_variant != true and product.variants.size > 1 -%}
    {%- for option in product.options_with_values -%}
      {%- assign optionName = option.name | downcase -%}
      {% assign _styleOption = styleOption %}
      {% if listStyle contains optionName %}
        {% assign _styleOption = 'image' %}
      {% endif %}
      <div class="variant-options option-type-select">
        <label class="variant-options-header" for="Option{{ option.position }}">{{ option.name }}</label>
        <div class="select-wrapper">
          {% render 'product-option',
            styleOption: _styleOption,
            option: option,
            product: product,
            formID: formID,
            sectionID: sectionID
          %}
        </div>
      </div>
    {% endfor %}
    <div class="card-info visibility-hidden">
      {% render 'icon-warrning' %}
      <span class="card-info__text">Variant does not exist</span>
    </div>
  {% endif %}
</div>
