<div class="product-gallery-wrapper">
  <div class="product-gallery">
    {% render 'product-gallery', navContainer: 'customize-thumbnails' %}
  </div>
  <div class="product-main">
    {% render 'product-gallery', navContainer: 'thumbnail-slider' %}
  </div>
</div>

{{ 'slider.js' | asset_url | script_tag }}
