{% comment %}
  screen : 'desktop' , 'mobile','undifine'
  count : number 4,1
  axis: 'vertical', 'horizental'
{% endcomment %}

<div class="thumbnail-gallery" data-thumbnail="{{main | default: 'gallery' }}">
  <div
    class="{% if navContainer != blank %}{{navContainer}}{%endif%}"
  >
    {% for item in product.media %}
      <div
        class="item-image"
      >
        <img src="{{ item.src | image_url }}" alt="">
      </div>
    {% endfor %}
  </div>

  {% if isPresent %}
    <div class="prev">
      {% render 'expand' %}
    </div>
    <div class="next">
      {% render 'expand' %}
    </div>
  {% endif %}
</div>
