<div class="quantity-select">
  <span class="icon remove__qlt">
    {% render 'icon-remove' %}
  </span>
  <input type="number" value="1" min="1" class="quantity__input" name="quantity">
  <span class="icon add__qlt">
    {% render 'icon-add' %}
  </span>
</div>
<div class="add-to-cart">
  <button
    type="submit"
    name="add"
    class="btn-add"
    disabled
    data-selected-quantity="{{ selectedQuantity }}"
  >
    {% render 'card' %}
    {% if selectedQuantity > 0 %}
      <span>{{ 'general.product.info.add_to_cart' | t }}</span>
    {% else %}
      <span>{{ 'general.product.info.sold_out' | t }}</span>
    {% endif %}
  </button>
</div>
