.cart-popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 375px;
    max-width: 600px;
    background-color: white;
    border-left: 1px solid #ccc;
    z-index: 10000;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    display: none;
    flex-direction: column;
    padding: 16px;
    overflow-y: auto;
    // opacity: 1;
    // display: block;

    &.active {
        opacity: 1;
        display: block;
    }

    .popup-layer {
        display: flex;
        justify-content: space-between;

        .popup__head {
            a {
                text-decoration: none;
                font-size: 20px;
                font-weight: 500;
            }
        }

        .header-close {
            cursor: pointer;
        }
    }

    .popup__content {
        margin-top: 20px;

        .progress__bar-msg {
            width: 0;
            height: 4px;
            background-color: #03A12A;
            animation: slide 0.5s ease forwards;
        }

        @keyframes slide {
            0% {
                width: 0;
            }

            100% {
                width: 70%;
            }
        }

        .popup__body {
            .cart__drawer-items {
                margin-top: 20px;
            }
        }
    }

    .popup__footer {
        width: 100%;
        padding: 20px;
        position: fixed;
        bottom: 0;
        background-color: #c22525;
        border-top: 1px solid #f0f0f0;
        margin: 0 0 -20px 0;
    }
}