.cart-section-wrapper {
    padding-inline: 15px;
    max-width: 1600px;
    margin-inline: auto;

    .cart-empty-wrapper {
        padding-block: 60px;
        text-align: center;

        h1 {
            font-size: 35px;
            font-weight: 500;
        }

        a {
            display: inline-flex;
            margin-top: 20px;
            min-width: 240px;
            height: 50px;
            align-items: center;
            justify-content: center;
            background-color: #13AD4F;
            color: white;
            border-radius: 4px;
            border: 1px solid #13AD4F;
            padding: 8px 16px;
        }
    }

    .cart-wrapper {
        .progress__bar-wrapper {
            padding: 15px 0px 35px 0;
            display: flex;
            gap: 10px;
            flex-direction: column;

            .progress__bar {
                height: 7px;
                width: 100%;
                border-radius: 4px;
                border: 1px solid rgb(145, 245, 31);
                position: relative;
            }

            .progress__bar-precent {
                border-radius: 4px;
                inset: 0;
                position: absolute;
                width: var(--width);
                height: 100%;
                background: linear-gradient(to right, #00FF00, #e5ff00, #e66611);
                animation: progressAnimation 1s ease-in-out;
            }

            @keyframes progressAnimation {
                from {
                    width: 0;
                }

                to {
                    width: var(--width);
                }
            }



            .progress__bar-msg {
                text-align: center;
                text-transform: uppercase;

                span {
                    font-weight: 500;
                    color: #13AD4F;
                }
            }

        }

        form {
            margin-bottom: 40px;

            .cart__form-header {
                background-color: #f2f2f2;
                padding: 10px;
                border-radius: 5px;
                margin-bottom: 10px;
                display: flex;
                gap: 20px;
                flex-wrap: wrap;

                .cart__form-header-label {
                    font-weight: 500;

                    display: flex;
                    align-items: center;
                }

                .item-product {
                    max-width: 200px;
                }

                .item-details {
                    display: flex;
                    justify-content: space-between;
                    gap: 20px;
                    flex-wrap: wrap;

                    .cart__form-header-info {}

                    .wrapper-pqs-init {
                        flex: 3;
                        display: flex;
                        flex-direction: row;
                    }

                    .wrapper-pqs {
                        display: none;
                    }

                }
            }

        }
    }

    .section-footer {
        display: flex;
        gap: 30px;
        justify-content: space-between;

        .cart-summary {
            flex: 1;
            height: auto;

            .cart__summary-inner {
                padding: 35px 40px 40px;
                border: 1px solid #000;
                border-radius: 4px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .cart__summary-line {
                    font-size: 13px;
                    align-items: center;
                    flex-wrap: nowrap;
                    padding: 7px 0;
                }

                .cart__summary-line--heading {
                    flex: 0 0 35%;
                }

                .cart__summary-line--content {
                    display: flex;
                    flex-direction: column;
                    gap: 7px;

                    span {
                        text-align: end;
                    }
                }

                .cart__summary-line--total,
                .cart__summary-line--discount {
                    border-bottom: 1px solid #e2dbdb;
                }

                .cart__summary-line--tax {
                    bottom: none;
                    font-size: 12px;
                    color: #666666;
                }

                .accordion-initialized {
                    span {
                        font-size: 12px;
                        color: #13ad4f;
                        border-bottom: 1px solid #13ad4f;
                        padding-bottom: 2px;
                        cursor: pointer;
                    }

                    .cart__form-note {
                        margin-top: 20px;
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height 0.3s ease;

                        textarea {
                            height: 120px;
                            background-color: #f2f2f2;
                            width: 100%;
                            border-radius: 4px;
                        }
                    }

                    .cart__form-note.active {
                        max-height: 1000px;
                    }
                }

                .cart__summary-checkout {
                    .btn-cart-checkout {
                        width: 100%;
                        padding: 10px 15px;
                        font-size: 14px;
                        font-weight: 500;

                        color: #ffffff;
                        background-color: #13ad4f;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        transition: background-color 0.3s ease;

                        &:hover {
                            background-color: #0b8c3d;
                        }
                    }
                }
            }
        }

        // 
        .shipping-rates {
            flex: 2;
            border-radius: 4px;
            border: 1px solid #000;
            padding: 35px 40px 40px;

            .shipping-content {
                .shipping-title {
                    font-size: 14px;
                    margin-bottom: 10px;
                }

                .shipping-form {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .form-field {
                        .label-field {
                            font-size: 14px;
                            margin-bottom: 10px;
                        }

                        .select-field {
                            width: 100%;
                            padding: 8px;
                            border: 1px solid #ccc;
                            border-radius: 4px;
                        }

                        .input-field {
                            width: 100%;
                            padding: 8px;
                            border: 1px solid #ccc;
                            border-radius: 4px;
                        }
                    }

                    .form-button-group {
                        .btn {
                            font-weight: 500;
                            display: inline-block;
                            padding: 10px 20px;
                            background-color: #13ad4f;
                            color: #fff;
                            border: none;
                            border-radius: 4px;
                            cursor: pointer;
                            font-size: 14px;

                            .state-loading {
                                display: none;
                            }
                        }

                        .btn.loading {
                            .state-default {
                                display: none;
                            }

                            .state-loading {
                                display: inline-block;
                            }
                        }
                    }
                }
            }

            .wapper-response {
                .response-title {
                    margin-top: 10px;
                    font-size: 14px;
                }

                .shipping-list {
                    margin-top: 10px;
                    font-size: 13px;

                }
            }
        }
    }

    .section-disable {
        display: none;
    }
}

@media (max-width: 1024px) {
    .cart-section-wrapper {

        .cart-empty-wrapper {
            h1 {
                font-size: 28px;
            }

            a {
                padding: 8px 8px;
            }
        }

        .cart-wrapper {
            .progress__bar-wrapper {

                .progress__bar {

                    .progress__bar-precent {}
                }

                .progress__bar-msg {

                    span {}
                }

            }

            form {

                .cart__form-header {
                    .cart__form-header-label {}

                    .item-product {}

                    .item-details {
                        .wrapper-pqs-init {
                            display: none;
                        }

                        .wrapper-pqs {
                            display: block;
                            flex: 2;
                        }

                        .cart__form-header-info {
                            flex: 3;
                        }

                    }
                }

            }
        }

        .section-footer {
            gap: 20px;

            .cart-summary {

                .cart__summary-inner {
                    padding: 20px 25px;

                    .cart__summary-line {}

                    .cart__summary-line--heading {}

                    .cart__summary-line--content {
                        span {}
                    }

                    .cart__summary-line--total,
                    .cart__summary-line--discount {}

                    .cart__summary-line--tax {}

                    .accordion-initialized {
                        span {}

                        .cart__form-note {

                            textarea {}
                        }

                        .cart__form-note.active {}
                    }

                    .cart__summary-checkout {
                        .btn-cart-checkout {

                            &:hover {}
                        }
                    }
                }
            }

            // 
            .shipping-rates {
                flex: 1;
                padding: 20px 25px;

                .shipping-content {
                    .shipping-title {}

                    .shipping-form {

                        .form-field {
                            .label-field {}

                            .select-field {}

                            .input-field {}
                        }

                        .form-button-group {
                            .btn {


                                .state-loading {}
                            }

                            .btn.loading {
                                .state-default {}

                                .state-loading {}
                            }
                        }
                    }
                }

                .wapper-response {
                    .response-title {}

                    .shipping-list {}
                }
            }
        }

        .section-disable {}
    }
}



@media (max-width: 768px) {
    .cart-section-wrapper {

        .cart-empty-wrapper {
            h1 {
                font-size: 25px;
            }

            a {
                padding: 4px 8px;
                font-size: 14px;
            }
        }

        .cart-wrapper {
            .progress__bar-wrapper {

                .progress__bar {

                    .progress__bar-precent {}
                }

                .progress__bar-msg {

                    span {}
                }

            }

            form {

                .cart__form-header {
                    display: none;

                    .cart__form-header-label {}

                    .item-product {}

                    .item-details {
                        .wrapper-pqs-init {}

                        .wrapper-pqs {}

                        .cart__form-header-info {}

                    }
                }

            }
        }

        .section-footer {
            gap: 10px;

            .cart-summary {

                .cart__summary-inner {
                    padding: 10px 15px;

                    .cart__summary-line {}

                    .cart__summary-line--heading {}

                    .cart__summary-line--content {
                        span {}
                    }

                    .cart__summary-line--total,
                    .cart__summary-line--discount {}

                    .cart__summary-line--tax {}

                    .accordion-initialized {
                        span {}

                        .cart__form-note {

                            textarea {}
                        }

                        .cart__form-note.active {}
                    }

                    .cart__summary-checkout {
                        .btn-cart-checkout {

                            &:hover {}
                        }
                    }
                }
            }

            // 
            .shipping-rates {
                flex: 1;
                padding: 10px 15px;

                .shipping-content {
                    .shipping-title {}

                    .shipping-form {

                        .form-field {
                            .label-field {}

                            .select-field {}

                            .input-field {}
                        }

                        .form-button-group {
                            .btn {
                                width: 100%;

                                .state-loading {}
                            }

                            .btn.loading {
                                .state-default {}

                                .state-loading {}
                            }
                        }
                    }
                }

                .wapper-response {
                    .response-title {}

                    .shipping-list {}
                }
            }
        }

        .section-disable {}
    }
}



@media (max-width: 375px) {
    .cart-section-wrapper {

        .cart-empty-wrapper {
            h1 {}

            a {}
        }

        .cart-wrapper {
            .progress__bar-wrapper {

                .progress__bar {

                    .progress__bar-precent {}
                }

                .progress__bar-msg {

                    span {}
                }

            }

            form {

                .cart__form-header {

                    .cart__form-header-label {}

                    .item-product {}

                    .item-details {
                        .wrapper-pqs-init {}

                        .wrapper-pqs {}

                        .cart__form-header-info {}

                    }
                }

            }
        }

        .section-footer {
            flex-direction: column;

            .cart-summary {

                .cart__summary-inner {

                    .cart__summary-line {}

                    .cart__summary-line--heading {}

                    .cart__summary-line--content {
                        span {}
                    }

                    .cart__summary-line--total,
                    .cart__summary-line--discount {}

                    .cart__summary-line--tax {}

                    .accordion-initialized {
                        span {}

                        .cart__form-note {

                            textarea {}
                        }

                        .cart__form-note.active {}
                    }

                    .cart__summary-checkout {
                        .btn-cart-checkout {

                            &:hover {}
                        }
                    }
                }
            }

            // 
            .shipping-rates {

                .shipping-content {
                    .shipping-title {}

                    .shipping-form {

                        .form-field {
                            .label-field {}

                            .select-field {}

                            .input-field {}
                        }

                        .form-button-group {
                            .btn {

                                .state-loading {}
                            }

                            .btn.loading {
                                .state-default {}

                                .state-loading {}
                            }
                        }
                    }
                }

                .wapper-response {
                    .response-title {}

                    .shipping-list {}
                }
            }
        }

        .section-disable {}
    }
}