.cart-section-wrapper {
    padding-inline: 15px;
    max-width: 1600px;
    margin-inline: auto;

    .cart-empty-wrapper {
        padding-block: 60px;
        text-align: center;

        h1 {
            font-size: 35px;
            font-weight: 500;
        }

        a {
            display: inline-flex;
            margin-top: 20px;
            min-width: 240px;
            height: 50px;
            align-items: center;
            justify-content: center;
            background-color: #13AD4F;
            color: white;
            border-radius: 4px;
            border: 1px solid #13AD4F;
            padding: 8px 16px;
        }
    }



    .section-footer {
        display: flex;
        gap: 30px;
        justify-content: space-between;

        .shipping-rates {
            flex: 2;
            border-radius: 4px;
            border: 1px solid #000;
            padding: 35px 40px 40px;

            .shipping-content {
                .shipping-title {
                    font-size: 14px;
                    margin-bottom: 10px;
                }

                .shipping-form {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .form-field {
                        .label-field {
                            font-size: 14px;
                            margin-bottom: 10px;
                        }

                        .select-field {
                            width: 100%;
                            padding: 8px;
                            border: 1px solid #ccc;
                            border-radius: 4px;
                        }

                        .input-field {
                            width: 100%;
                            padding: 8px;
                            border: 1px solid #ccc;
                            border-radius: 4px;
                        }
                    }

                    .form-button-group {
                        .btn {
                            font-weight: 500;
                            display: inline-block;
                            padding: 10px 20px;
                            background-color: #13ad4f;
                            color: #fff;
                            border: none;
                            border-radius: 4px;
                            cursor: pointer;
                            font-size: 14px;

                            .state-loading {
                                display: none;
                            }
                        }

                        .btn.loading {
                            .state-default {
                                display: none;
                            }

                            .state-loading {
                                display: inline-block;
                            }
                        }
                    }
                }
            }

            .wapper-response {
                .response-title {
                    margin-top: 10px;
                    font-size: 14px;
                }

                .shipping-list {
                    margin-top: 10px;
                    font-size: 13px;

                }
            }
        }
    }

    .section-disable {
        display: none;
    }
}

@media (max-width: 1024px) {
    .cart-section-wrapper {

        .cart-empty-wrapper {
            h1 {
                font-size: 28px;
            }

            a {
                padding: 8px 8px;
            }
        }

        .section-footer {
            gap: 20px;



            // 
            .shipping-rates {
                flex: 1;
                padding: 20px 25px;

                .shipping-content {
                    .shipping-title {}

                    .shipping-form {

                        .form-field {
                            .label-field {}

                            .select-field {}

                            .input-field {}
                        }

                        .form-button-group {
                            .btn {


                                .state-loading {}
                            }

                            .btn.loading {
                                .state-default {}

                                .state-loading {}
                            }
                        }
                    }
                }

                .wapper-response {
                    .response-title {}

                    .shipping-list {}
                }
            }
        }

        .section-disable {}
    }
}



@media (max-width: 768px) {
    .cart-section-wrapper {

        .cart-empty-wrapper {
            h1 {
                font-size: 25px;
            }

            a {
                padding: 4px 8px;
                font-size: 14px;
            }
        }



        .section-footer {
            gap: 10px;

            .shipping-rates {
                flex: 1;
                padding: 10px 15px;

                .shipping-content {
                    .shipping-title {}

                    .shipping-form {

                        .form-field {
                            .label-field {}

                            .select-field {}

                            .input-field {}
                        }

                        .form-button-group {
                            .btn {
                                width: 100%;

                                .state-loading {}
                            }

                            .btn.loading {
                                .state-default {}

                                .state-loading {}
                            }
                        }
                    }
                }

                .wapper-response {
                    .response-title {}

                    .shipping-list {}
                }
            }
        }

        .section-disable {}
    }
}



@media (max-width: 375px) {
    .cart-section-wrapper {

        .cart-empty-wrapper {
            h1 {}

            a {}
        }

        .section-footer {
            flex-direction: column;

            .cart-summary {

                .cart__summary-inner {

                    .cart__summary-line {}

                    .cart__summary-line--heading {}

                    .cart__summary-line--content {
                        span {}
                    }

                    .cart__summary-line--total,
                    .cart__summary-line--discount {}

                    .cart__summary-line--tax {}

                    .accordion-initialized {
                        span {}

                        .cart__form-note {

                            textarea {}
                        }

                        .cart__form-note.active {}
                    }

                    .cart__summary-checkout {
                        .btn-cart-checkout {

                            &:hover {}
                        }
                    }
                }
            }

            // 
            .shipping-rates {

                .shipping-content {
                    .shipping-title {}

                    .shipping-form {

                        .form-field {
                            .label-field {}

                            .select-field {}

                            .input-field {}
                        }

                        .form-button-group {
                            .btn {
                                .state-loading {}
                            }

                            .btn.loading {
                                .state-default {}

                                .state-loading {}
                            }
                        }
                    }
                }

                .wapper-response {
                    .response-title {}

                    .shipping-list {}
                }
            }
        }

        .section-disable {}
    }
}