.cart-popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 375px;
    max-width: 600px;
    background-color: white;
    border-left: 1px solid #ccc;
    z-index: 10000;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    display: none;
    flex-direction: column;
    padding: 16px;
    overflow-y: auto;
    opacity: 1;

    &.active {
        opacity: 1;
        display: block;
    }

    .popup-top {
        overflow: auto;

        .popup-layer {
            display: flex;
            justify-content: space-between;

            .popup__head {
                a {
                    text-decoration: none;
                    font-size: 20px;
                    font-weight: 500;
                }
            }

            .popup__header-close {
                cursor: pointer;
            }
        }

        .popup__content {
            margin-top: 20px;

        }
    }

    .popup__footer {
        width: 100%;
        position: sticky;
        bottom: 0;
        border-top: 1px solid #f0f0f0;
        margin: 0 0 -20px 0;
        background-color: #fff;
    }
}