.block__filter__items {
    .filter-form {
        .filter-form__item {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            padding: 8px 16px;
            gap: 10px 5px;

            .filter-wrapper {
                margin-bottom: 20px;

                .filter-title {
                    margin-bottom: 10px;
                    font-weight: 500;
                    background-color: #05a845;
                    padding: 8px 8px;
                    border-radius: 4px 0px;
                    color: white;
                }

                .filter-option {
                    max-height: 350px;
                    overflow: auto;
                    height: 100%;

                    .filter-group-display__list {
                        list-style: none;
                        margin: 0;
                        padding: 0;

                        .filter-group-display__list-item {
                            margin-bottom: 5px;
                            position: relative;

                            input[type="checkbox"] {
                                margin-right: 5px;
                                cursor: pointer;
                            }

                            label {
                                white-space: nowrap;
                            }



                        }
                    }

                    // .filter-group-display__list.type_color {
                    //     display: flex;
                    //     flex-wrap: wrap;
                    //     gap: 10px;

                    //     li {
                    //         margin-bottom: 0px;

                    //         label {
                    //             span {
                    //                 display: none;
                    //             }
                    //         }

                    //         label input[type="checkbox"] {
                    //             appearance: none;
                    //             -webkit-appearance: none;
                    //             -moz-appearance: none;
                    //             width: 30px;
                    //             height: 30px;
                    //             border-radius: 50%;
                    //             border: 1px solid transparent;
                    //             background-color: var(--bgColor);
                    //             left: 0;
                    //             top: 0;
                    //             border: 1px solid black;
                    //         }

                    //         span {
                    //             display: none;
                    //             font-size: 14px;
                    //             font-weight: 400;
                    //         }
                    //     }

                    //     li:hover {
                    //         span {
                    //             display: block;
                    //             position: absolute;
                    //             right: -50%;
                    //             top: -50%;
                    //             z-index: 10;
                    //         }
                    //     }
                    // }

                    .filter-group-display__price-range {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        align-items: flex-start;

                        .filter-group-display__price-range-from,
                        .filter-group-display__price-range-to {
                            border-radius: 4px;
                            height: 40px;
                            font-size: 18px;
                            font-weight: 400;
                            display: flex;
                            flex-wrap: nowrap;
                            align-items: center;
                            padding: 2px 4px;

                            input[type="number"] {
                                border-radius: 4px;
                                height: 40px;
                                font-size: 18px;
                                font-weight: 400;
                                min-width: 150px;
                                width: 90%;
                                padding: 2px 4px;
                            }

                            span {
                                margin-right: 5px;
                            }
                        }

                        .price-dash {
                            margin-right: 10px;
                        }
                    }
                }

                .filter-option.overflow_hidden {
                    overflow: inherit;
                }

                .filter-colors {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;

                    label {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        position: relative;

                        .filter-colors__image {
                            height: 30px;
                            width: 30px;
                            border-radius: 50%;
                            cursor: pointer;
                            background-size: cover;
                            position: relative;

                            &:hover {
                                opacity: 0.7;
                            }

                            input {
                                position: absolute;
                                opacity: 1;
                                right: -25%;
                                top: -25%;
                                accent-color: white;
                            }

                            input:checked {
                                display: block;
                            }

                            input {
                                display: none;
                            }
                        }



                        span {
                            position: absolute;
                            display: none;
                            z-index: 20;
                            bottom: -100%;
                            left: 0%;
                            white-space: nowrap;
                            font-size: 14px;
                        }


                    }

                    label:hover {
                        span {
                            display: block;
                        }
                    }
                }
            }


        }

        .flex_column_item {
            display: flex;
            flex-direction: column;
            width: 250px;
            max-width: 300px;
            padding: 8px 0px;
            margin-right: 20px;

            .flex_column_wrapper {
                margin-bottom: 0px;
                padding-bottom: 20px;
                border-bottom: 1px solid #05a845;

                .flex_column_title {
                    background-color: transparent;
                    color: #05a845;
                    padding: 8px 0;
                }

                .flex_column_option {
                    .flex_column_list {}
                }
            }
        }
    }
}


@media (max-width: 1024px) {
    .block__filter__items {
        .filter-form {
            .filter-form__item {
                grid-template-columns: repeat(3, 1fr);
                padding: 8px 8px 8px 8px;

                .filter-wrapper {


                    .filter-title {}

                    .filter-option {
                        max-height: 250px;

                        .filter-group-display__list {

                            .filter-group-display__list-item {

                                input[type="checkbox"] {}

                                label {}
                            }
                        }

                        .filter-group-display__price-range {

                            .filter-group-display__price-range-from,
                            .filter-group-display__price-range-to {

                                input[type="number"] {}

                                span {}
                            }

                            .price-dash {}
                        }
                    }
                }
            }

            .flex_column_item {
                width: 100%;
                max-width: none;
                padding: 8px 40px 8px 8px;

                .flex_column_wrapper {

                    .flex_column_title {}

                    .flex_column_option {
                        .flex_column_list {}
                    }
                }
            }
        }
    }
}



@media (max-width: 768px) {
    .block__filter__items {
        .filter-form {
            .filter-form__item {
                grid-template-columns: repeat(1, 1fr);


                .filter-wrapper {
                    margin-bottom: 0px;

                    .filter-title {}

                    .filter-option {
                        max-height: 250px;

                        .filter-group-display__list {

                            .filter-group-display__list-item {

                                input[type="checkbox"] {}

                                label {}
                            }
                        }

                        .filter-group-display__price-range {

                            .filter-group-display__price-range-from,
                            .filter-group-display__price-range-to {

                                input[type="number"] {}

                                span {}
                            }

                            .price-dash {}
                        }
                    }
                }
            }

            .flex_column_item {

                .flex_column_wrapper {

                    .flex_column_title {}

                    .flex_column_option {
                        .flex_column_list {}
                    }
                }
            }
        }
    }
}

// {%- for filter_value in filter.values -%}

//                       {% for color in shop.metaobjects.colors.values %}

//                         {% if filter_value.value == color.name_color %}
//                           {% assign image = color.image | img_url: 'medium' %}
//                           <label>
//                             <div
//                               class="filter-colors__image"
//                               style="{% if color.image  != null %}background-image:url('{{ image }}');{%else%}background: {{ color.text_color}};{% endif %}"
//                             >
//                               <input
//                                 type="checkbox"
//                                 name="{{ filter_value.param_name }}"
//                                 value="{{ filter_value.value }}"
//                                 data-section-id="{{ section.id }}"
//                                 {% if filter_value.active -%}
//                                   checked
//                                 {%- endif %}
//                               >
//                             </div>

//                             <span>{{- filter_value.label -}}</span>
//                           </label>
//                         {% endif %}
//                       {% endfor %}

//                     {%- endfor -%}