.image_wrap {
    position: relative;
    padding-top: var(--image-height);
    // max-width: 100%;
    width: 150px;
    height: 150px;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}