.content {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4px;
}

.title_wrap {
    display: inline-flex;
    position: relative;
    width: fit-content;
}

.title {
    line-height: 1.4em;
    font-weight: 500;
    font-size: 30px;
}

.product_count {
    position: absolute;
    bottom: 100%;
    left: 100%;
    color: #05A845;
    font-size: 14px
}

.description {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
}