.wrapper {
    position: relative;
    user-select: none;

    .prev {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        text-align: center;
        fill: #079e39;
        position: absolute;
        cursor: pointer;
        border: 2px solid #079e39;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.7);
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;

        svg {
            transform: rotate(-90deg);
        }

        &[aria-disabled="true"] {
            display: none;
        }
    }

    .next {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        text-align: center;
        fill: #079e39;
        position: absolute;
        cursor: pointer;
        border: 2px solid #079e39;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.7);
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;

        svg {
            transform: rotate(90deg);
        }

        &[aria-disabled="true"] {
            display: none;
        }
    }

    &:hover {
        .prev {
            opacity: .7;
        }

        .next {
            opacity: .7;
        }
    }

}

@media (max-width :700px) {
    .wrapper {

        .prev,
        .next {
            display: none;
        }
    }
}