.section_container {
    padding-inline: 20px;
}

.collection__header {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    &-content {}
}

.collection__toolbar {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

    &-filter-btn {
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: center;
        background: white;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 8px 16px;
        font-size: 20px;
        min-width: 150px;
    }

    &-filter-icon {
        div {
            display: flex;
            align-items: center;

            svg {
                width: 20px;
                height: 20px;
            }
        }


    }

    &-sort {
        display: flex;
        align-items: center;
        gap: 50px
    }
}

.collection__toolbar__filter {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s;
    margin-top: 20px;

    &.active {
        max-height: 50vh;
        overflow: auto;
        border-radius: 4px;
        margin-block: 16px;
        box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
    }
}

.collection__hr {
    margin-top: 50px;
    height: 1px;
    background-color: #ccc;
}

.collection__products {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(var(--items_per_row), 1fr);
}

.collection__paginate {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}