.section_container {
    padding-inline: 20px;
}

.collection__header {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    &-content {}
}

.collection__toolbar {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .collection__toolbar-filter {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        height: 40px;

        .collection__toolbar-filter-btn {
            flex: 1;
            max-width: 130px;
            height: 100%;
            border-radius: 5px;
            padding: 10px 25px;
            font-weight: 500;
            background-color: transparent;
            cursor: pointer;
            transition: all 0.3s ease;
            position: relative;
            box-shadow: inset 1px 1px 2px 0px rgba(255, 255, 255, .5),
                2px 2px 4px 0px rgba(0, 0, 0, .1),
                2px 2px 4px 0px rgba(0, 0, 0, .1);
            outline: none;
            --button-color: black;
            overflow: hidden;
            cursor: pointer;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: auto;
            justify-content: unset;
        }

        .collection__toolbar-filter-btn[aria-expanded="true"] .hamburger {
            rotate: 0.125turn;
        }

        .collection__toolbar-filter-btn .line {
            transition: 1s;
            stroke-dasharray: 60 31 60 300;
        }

        .collection__toolbar-filter-btn[aria-expanded="true"] .line {
            stroke-dasharray: 60 105 60 300;
            stroke-dashoffset: -90;
        }

        .collection__toolbar-filter-icon {
            --button-color: #000;

            .hamburger {
                transition: translate 1s, rotate 1s;
                width: 40px;
                height: 40px;
            }
        }

        .collection__toolbar-filter-showing {
            color: #000;
            flex: 1;
            white-space: nowrap;
            display: flex;
            align-items: center;
        }
    }

    .collection__toolbar-sort {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        .collection__toolbar-sort-by {
            flex: 1;
            height: 40px;
            display: flex;

        }

        .collection__toolbar-sort-show {
            flex: 1;
            height: 40px;
            // -webkit-margin-start: 30px;
            display: flex;
        }
    }
}

.collection__toolbar__filter {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s;
    margin-top: 20px;

    &.active {
        max-height: 50vh;
        overflow: auto;
        border-radius: 4px;
        margin-block: 16px;
        box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
    }
}

.collection__toolbar__filter-sidebar {
    height: 100%;
}

.collection__hr {
    margin-top: 20px;
    height: 1px;
    background-color: #ccc;
}

.collection-main {
    display: flex;
    width: 100%;
    overflow: hidden;

    .collection-main__group-product {
        .collection__products {
            margin-top: 50px;
            display: grid;
            grid-template-columns: repeat(var(--items_per_row), 1fr);
            overflow: hidden;
        }


        .collection__products-hollow {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 0;
            font-size: small;
            font-style: italic;
        }

        .collection__paginate {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
    }
}


@media (max-width: 1024px) {

    .section_container {
        // padding-inline: 20px;
    }

    .collection__header {
        margin-top: 30px;

        &-content {}
    }

    .collection__toolbar {
        margin-top: 30px;

        .collection__toolbar-filter {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            height: 40px;

            .collection__toolbar-filter-btn {}

            .collection__toolbar-filter-btn[aria-expanded="true"] .hamburger {}

            .collection__toolbar-filter-btn .line {}

            .collection__toolbar-filter-btn[aria-expanded="true"] .line {}

            .collection__toolbar-filter-icon {

                .hamburger {}
            }

            .collection__toolbar-filter-showing {}
        }

        .collection__toolbar-sort {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            .collection__toolbar-sort-by {
                flex: 1;
                height: 40px;
                display: flex;

            }

            .collection__toolbar-sort-show {
                flex: 1;
                height: 40px;
                // -webkit-margin-start: 30px;
                display: flex;
            }
        }
    }

    .collection__toolbar__filter {
        &.active {}
    }

    .collection__toolbar__filter-sidebar {
        height: 100%;
    }

    .collection__hr {}

    .collection-main {
        .collection-main__group-product {
            .collection__products {
                margin-top: 30px;
                grid-template-columns: repeat(3, 1fr);
            }


            .collection__products-hollow {}

            .collection__paginate {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }
        }
    }
}


@media (max-width: 768px) {

    .collection__header {
        margin-top: 20px;
        display: flex;
        flex-direction: column;

        .content-image {
            width: 50vw;
            margin-inline: auto;
        }
    }

    .collection__toolbar {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .collection__toolbar-filter {
            display: flex;
            justify-content: space-between;

            .collection__toolbar-filter-showing {
                flex: none;
            }
        }

        .collection__toolbar-sort {
            display: flex;
            justify-content: space-between;

            .collection__toolbar-sort-by {
                flex: none;
            }

            .collection__toolbar-sort-show {
                flex: none;

            }
        }
    }

    .collection__toolbar__filter-sidebar {
        height: 100%;
    }

    .collection-main {
        .collection-main__group-product {
            .collection__products {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}



@media (max-width: 375px) {
    .section_container {
        padding-inline: 10px;
    }

    .collection__header {

        .content-image {}
    }

    .collection__toolbar {


        .collection__toolbar-filter {


            .collection__toolbar-filter-showing {
                flex: none;
            }
        }

        .collection__toolbar-sort {
            flex-direction: column;
            gap: 0;

            .collection__toolbar-sort-by {
                flex: none;
            }

            .collection__toolbar-sort-show {
                flex: none;

            }
        }
    }

    .collection__toolbar__filter-sidebar {
        height: 100%;
    }

    .collection-main {
        .collection-main__group-product {
            .collection__products {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}