.section_container {
    padding-inline: 20px;
}

// abc
.collection__header {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    &-content {}
}

.collection__toolbar {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-filter-btn {
        min-width: 130px;
        height: 40px;
        border-radius: 5px;
        padding: 10px 25px;
        font-weight: 500;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        box-shadow: inset 1px 1px 2px 0px rgba(255, 255, 255, .5),
            2px 2px 4px 0px rgba(0, 0, 0, .1),
            2px 2px 4px 0px rgba(0, 0, 0, .1);
        outline: none;
        --button-color: black;
        overflow: hidden;
        cursor: pointer;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: auto;
        justify-content: unset;
    }

    .collection__toolbar-filter-btn[aria-expanded="true"] .hamburger {
        rotate: 0.125turn;
    }

    .collection__toolbar-filter-btn .line {
        transition: 1s;
        stroke-dasharray: 60 31 60 300;
    }

    .collection__toolbar-filter-btn[aria-expanded="true"] .line {
        stroke-dasharray: 60 105 60 300;
        stroke-dashoffset: -90;
    }

    &-filter-icon {
        --button-color: #000;

        .hamburger {
            transition: translate 1s, rotate 1s;
            width: 40px;
            height: 40px;
        }
    }

    &-sort {
        display: flex;
        flex-wrap: wrap;

        &-by {
            flex: 1;
            height: 100%;
            display: flex;
        }

        &-show {
            flex: 1;
            height: 100%;
            -webkit-margin-start: 30px;
            display: flex;
        }
    }
}

.collection__toolbar__filter {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s;
    margin-top: 20px;

    &.active {
        max-height: 50vh;
        overflow: auto;
        border-radius: 4px;
        margin-block: 16px;
        box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
    }
}

.collection__hr {
    margin-top: 20px;
    height: 1px;
    background-color: #ccc;
}

.collection__products {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(var(--items_per_row), 1fr);
    overflow: hidden;
}

.collection__paginate {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}