#popup-info {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;

    place-items: center;

    &.active {
        display: grid;
    }

    .info-box {
        min-width: 375px;
        max-width: 50vw;
        min-height: 200px;
        padding: 8px 16px;
        background-color: white;
        border-radius: 7px;

        .wrapper-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-block: 10px;

            .title {
                font-size: 24px;
                font-weight: 400;
            }

            .btn_close-popup-info {
                cursor: pointer;
            }

        }

        .title[data-type="success"] {
            color: green;
        }

        .title[data-type="error"] {
            color: red;
        }

        .title[data-type="info"] {
            color: rgb(44, 57, 233);
        }

        .title[data-type="warring"] {
            color: rgb(233, 233, 20);
        }

        .wrapper-content {
            font-size: medium;
            font-weight: 400;
            line-height: 1.4rem;
        }
    }
}