.popup-wapper {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: none;
    pointer-events: none;
}

.popup-wapper.active {
    display: flex;
    pointer-events: auto;
}

.popup-content {
    position: relative;
    margin: auto;
    width: 80%;
    min-width: 375px;
    max-width: 80vw;
    background-color: white;
    border-radius: 7px;
}

.close-popup {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 4px;
}