.product-gallery-wrapper {
    flex: 1;
    display: flex;
    gap: 10px;
    position: relative;

    .product-gallery {
        flex-basis: 100px;
        order: 1;
    }

    .product-gallery:has(.onlyone-img) {
        display: none;
    }

    .product-main {
        order: 2;
        flex: 1;
    }

    .thumbnail-gallery {
        position: relative;
        user-select: none;

        .prev,
        .next {
            text-align: center;
            fill: #079e39;
            position: absolute;
            cursor: pointer;
            border: 2px solid #079e39;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.7);
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;


            &:hover {
                opacity: .7;
            }

            &[aria-disabled="true"] {
                display: none;
            }
        }



        img {
            width: 100%;
            object-fit: cover;
            border-radius: 4px;
        }

        &:hover {

            .prev,
            .next {
                opacity: 1;
            }
        }
    }

    .thumbnail-gallery[data-thumbnail="product-main"] {
        // .item-image {
        //     margin-top: 28px;
        // }

        .prev {
            left: 0;
            top: 50%;
            transform: translateY(-50%);

            svg {
                transform: rotate(-90deg);
            }
        }

        .next {
            right: 0;
            top: 50%;
            transform: translateY(-50%);

            svg {
                transform: rotate(90deg);
            }
        }
    }

    .thumbnail-gallery[data-thumbnail="gallery"] {
        .prev {
            top: -25px;
            left: 50%;
            transform: translateX(-50%);
        }

        .next {
            bottom: -25px;
            left: 50%;
            transform: translateX(-50%);

            svg {
                transform: rotate(180deg);
            }
        }
    }



}


@media (max-width :1023px) {
    .product-gallery-wrapper {
        flex-direction: column;

        .product-gallery {
            flex-basis: auto;
            order: 2;

            .thumbnail-gallery {
                .customize-thumbnails {
                    display: flex;
                    gap: 4px;
                }
            }
        }

        .product-main {
            order: 1;
            flex: none;
        }

        .thumbnail-gallery[data-thumbnail="gallery"] {
            .prev {
                left: 0;
                top: 50%;
                transform: translateY(-50%);

                svg {
                    transform: rotate(-90deg);
                }
            }

            .next {
                right: 0;
                top: 50%;
                left: auto;
                transform: translateY(-50%);

                svg {
                    transform: rotate(90deg);
                }
            }
        }
    }
}