.variant-options {
    margin-bottom: 25px;
    font-size: 12px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;

    .variant-options-header {
        width: 100%;
        font-size: 13px;
    }

    .select-wrapper {
        width: 100%;

        // select
        select {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 10px;
            border-radius: 4px;
            font-weight: 600;
        }

        .button-list {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            .button-item {
                display: inline-block;
                padding: 8px 16px;
                border: 1px solid rgb(201, 201, 201);
                background-color: transparent;
                color: #000000;
                cursor: pointer;
                border-radius: 4px;
                opacity: 1;

                &:has(>input[data-disabled="true"]) {
                    opacity: 0.4;
                    cursor: not-allowed;
                }

                &:has(>input:checked) {
                    background-color: #f2f2f2;
                    color: #333;
                    font-weight: bold;
                }

                &:hover {
                    opacity: 0.5;
                }

                .option-button {
                    display: none;
                }
            }
        }

        .image-list {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            .image-item {
                position: relative;

                label {
                    display: block;
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    cursor: pointer;
                    border: 1px solid #d1cdcd;

                    &:has(>input[data-disabled="true"]) {
                        opacity: 0.4;
                        cursor: not-allowed;

                        &+span {
                            display: none;
                        }
                    }

                    &:hover {
                        opacity: 0.5;
                    }


                    input:checked {
                        display: block;
                    }

                    input {
                        display: none;
                    }


                    .option-radio {
                        appearance: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        width: 20px;
                        height: 20px;
                        background-color: transparent;
                        border: none;
                        position: relative;
                        cursor: pointer;
                        opacity: 1;
                        right: -25%;
                        top: -65%;
                        accent-color: white;
                    }


                    .option-radio::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) rotate(45deg);
                        width: 6px;
                        height: 12px;
                        border: 2px solid #22af22;
                        border-top: none;
                        border-left: none;
                        transform-origin: bottom left;
                        opacity: 0;
                    }

                    .option-radio:checked::before {
                        opacity: 1;
                    }
                }

            }

            span {
                position: absolute;
                display: none;
                z-index: 20;
                bottom: -100%;
                left: 0%;
                white-space: nowrap;
                font-size: 14px;

                padding: 4px 8px;
                border-radius: 4px;
                background-color: rgb(22, 175, 22);
                color: #fff;
            }

            .image-item:hover {
                span {
                    display: block;
                }
            }
        }
    }
}