.product-infor-wrapper {
    flex: 1;

    .product-infor {
        padding: 0 15px;

        .product-vendor {
            color: #808080;
            font-size: 14px;
            font-weight: 400;
            margin: 0 0 10px;
        }

        .product-title {
            font-size: 24px;
            font-weight: 500;
            line-height: 1.8rem;
            margin-bottom: 12px;
        }

        .product-price {
            display: flex;
            gap: 10px;
            margin: 33px 0 40px;

            .compare-price {
                font-size: 24px;
                font-weight: 500;
            }

            .price {
                font-size: 16px;
                font-weight: 400;
                color: rgb(3, 161, 42);
                text-decoration: line-through;

            }
        }

        .hr {
            height: 1px;
            background-color: #d6d6d6;
            width: 100%;
            margin-bottom: 40px;
        }

        .product-quantity {
            margin: 10px 0;
            font-size: 13px;

            .variant-inventory {
                color: rgb(3, 161, 42);
                font-weight: 500;
                padding-left: 10px;
            }
        }

        .product-cart {
            display: flex;
            gap: 10px;

            .quantity-select {
                display: flex;
                flex-wrap: nowrap;
                color: white;

                .icon {
                    cursor: pointer;
                    width: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #F2F2F2;
                }

                .remove__qlt {
                    border-radius: 4px 0 0 4px;
                }

                .add__qlt {
                    border-radius: 0 4px 4px 0;
                }

                .quantity__input {
                    width: 50px;
                    height: 50px;
                    text-align: center;
                    border: none;
                    outline: none;
                    background-color: #F2F2F2;
                }

            }

            .add-to-cart {
                flex: 1;
                min-width: 200px;

                a {
                    text-decoration: none;

                    .btn-add {
                        gap: 10px;
                        width: 100%;
                        height: 100%;
                        font-size: 16px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: rgb(3, 161, 42);
                        border: 4px;
                        color: white;

                        svg path {
                            stroke: white;
                        }

                    }
                }

            }
        }
    }

}