.product-section-wrapper {
    position: relative;

    .product-layout {
        padding-inline: 20px;

        .product-container {
            display: flex;
            gap: 20px;
        }
    }
}