.recently-container {
    margin: var(--margin);

    .hidden {
        display: none;
    }

    .recently-header {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font-weight: 600;
    }

    .recently {
        margin-top: 20px;
    }
}