.container-wrapper-search {
    padding-inline: 20px;

    .search-header {
        text-align: start;
    }

    .search__products {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(var(--items_per_row), 1fr);
        overflow: hidden;
        grid-row-gap: 10px;
        grid-column-gap: 10px;
    }

    .search__paginate {
        margin-top: 50px;
        justify-content: center;
        display: flex;
        align-items: center;
    }
}