.section-container {
  max-width: var(--max_width);
  margin: 0 auto;
  margin-top: var(--section_margin_top);
  --item_width: 1;
  width: 100%;
  --btn_padding: 6px 60px;
  --font_weight_button: 500;
  --font_button: 16px;
  --btn_color: black;
  --btn_background: transparent;
  --btn_border: 1px solid #000;
  --text_decoration: none;
  --height_image: 100%;
  position: relative;
  --font_weight_sub_title: 400;
  --text-align: center;
  .number_count_up {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    color: white;
    font-size: 60px;
    font-weight: bold;
  }
  .section-container__heading {
    font-size: calc(30px + 0.390625vw);
    margin-bottom: 20px;
    text-align: center;
    font-weight: 500;
  }
  .section-container__list {
    display: grid;
    gap: var(--item_gap);
    margin-inline: var(--margin_list);
    .section-container__list__item {
      position: relative;
      width: calc(100% / var(--item_width));
      padding-inline: var(--item_padding);
      @mixin wrap__img {
        max-width: 100%;
        height: var(--height_image);
        overflow: hidden;
        position: relative;
        padding-top: var(--padding_top) !important;
        animation: opacity 1.3s cubic-bezier(0, 0.51, 0.25, 1) 0s forwards;
        border-radius: var(--border_radius);
      }

      @mixin img {
        max-width: 100%;
        width: var(--image_width);
        height: var(--height_image);
        object-fit: cover;
        border-radius: var(--border_radius);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        object-position: center !important;
        border-radius: var(--border_radius);
      }

      .section-container__list__item__image1 {
        @include wrap__img;
        img {
          @include img;
        }
      }
      .section-container__list__item__image2 {
        @include wrap__img;
        display: none;
        img {
          @include img;
        }
      }
      .section-container__list__item__content {
        position: var(--position);
        left: var(--left);
        bottom: var(--bottom);
        top: var(--top);
        display: flex;
        flex-direction: column;
        gap: var(--gap_content);
        align-items: var(--align_item);
        margin-top: var(--content_margin_top);
        transform: var(--transform);
        color: var(--content_text_color);
        .section-container__list__item__content__text {
          display: flex;
          flex-direction: column;
          gap: 10px;
          color: var(--color);
          h5 {
            font-weight: 500;
            font-size: var(--font_title);
            line-height: 60px;
            white-space: var(--title_wap);
            text-align: var(--text_align);
          }

          p {
            font-weight: var(--font_weight_sub_title);
            font-size: var(--font_sub_title);
            line-height: 32px;
          }
        }
        .section-container__list__item__content__buttons {
          display: flex;
          gap: 10px;

          @mixin style_a {
            display: block;
            white-space: nowrap;
            line-height: 24px;
            text-decoration: var(--text_decoration);
            border-radius: 4px;
            padding: var(--btn_padding);
            font-size: var(--font_button);
            color: var(--btn_color);
            background: var(--btn_background);
            text-align: var(--text-align);
            border: var(--btn_border);
            font-weight: var(--font_weight_button);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          @mixin button {
          }
          .section-container__list__item__content__buttons--first {
            @include button;
            a {
              @include style_a;
            }
          }
          .section-container__list__item__content__buttons--second {
            @include button;
            a {
              @include style_a;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .section-container {
    .number_count_up {
      left: 30px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 30px;
    }
    .section-container__heading {
    }
    .section-container__list {
      gap: var(--item_gap);
      margin-inline: var(--margin_inline);
      margin-top: var(--margin_top_list);
      .section-container__list__item {
        padding-top: var(--padding_top_item);
        .section-container__list__item__content {
          .section-container__list__item__content__text {
            h5 {
              line-height: 40px;
            }

            p {
              line-height: 30px;
            }
          }
          .section-container__list__item__content__buttons {
            @mixin style_a {
              line-height: 21px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .section-container {
    .number_count_up {
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 24px;
    }
    .section-container__heading {
    }
    .section-container__list {
      gap: var(--item_gap);
      margin-inline: var(--margin_inline);
      .section-container__list__item {
        @mixin wrap__img {
        }

        @mixin img {
        }

        .section-container__list__item__image1 {
          @include wrap__img;
          display: none;
          img {
            @include img;
          }
        }
        .section-container__list__item__image2 {
          @include wrap__img;
          display: flex;
          img {
            @include img;
          }
        }
        .section-container__list__item__content {
          .section-container__list__item__content__text {
            h5 {
              line-height: 35.2px;
            }

            p {
              line-height: 28.8px;
            }
          }
          .section-container__list__item__content__buttons {
            display: flex;
            flex-direction: column;
            width: var(--width);
            @mixin style_a {
              line-height: 21px;
            }

            @mixin button {
            }
            .section-container__list__item__content__buttons--first {
              @include button;
              a {
                @include style_a;
              }
            }
            .section-container__list__item__content__buttons--second {
              @include button;
              a {
                @include style_a;
              }
            }
          }
        }
      }
    }
  }
}
