<link
  rel="stylesheet"
  href="{{ 'cart.css' | asset_url }}"
  media="all"
>

<div
  class="cart-section-wrapper"
  data-section-id="{{ section.id }}"
>
  <div class="section-content">
    {% if cart.item_count > 0 %}
      {% render 'cart-component' %}
    {% else %}
      {% render 'cart-empty' %}
    {% endif %}
  </div>
  <div class="section-footer">
    {% render 'shipping-rates' %}
    {% render 'cart-summary' %}
  </div>
</div>

{% schema %}
{
  "name": "cart",
  "tag": "section",
  "settings": [
    {
      "type": "number",
      "id": "free_shipping_conditions",
      "label": "Free shipping conditions",
      "default": 200
    },
    {
      "type": "text",
      "label": "Currency",
      "id": "currency",
      "default": "USD"
    }
  ],
  "blocks": []
}
{% endschema %}
{{ 'cart.js' | asset_url | script_tag }}
