.cart-popup {
  position: fixed;
  top: 0;
  left: 100%;
  bottom: 0;
  min-width: 375px;
  max-width: 600px;
  background-color: #fff;
  border-left: 1px solid #ccc;
  z-index: 10000;
  opacity: 0;
  transition: all .7s ease-in-out;
  flex-direction: column;
  padding: 16px 16px 0;
  overflow-y: auto;
}

.cart-popup.active {
  opacity: 1;
  right: 0;
  left: auto;
}

.cart-popup .popup-top {
  overflow: auto;
}

.cart-popup .popup-top .popup-layer {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.cart-popup .popup-top .popup-layer .popup__head a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

.cart-popup .popup-top .popup-layer .popup__header-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: auto;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.cart-popup .popup-top .popup-layer .leftright {
  transform: rotate(45deg);
}

.cart-popup .popup-top .popup-layer .leftright, .cart-popup .popup-top .popup-layer .rightleft {
  height: 4px;
  width: 30px;
  position: absolute;
  margin-top: 16px;
  background-color: #30a01a;
  border-radius: 2px;
  transition: all .3s ease-in;
}

.cart-popup .popup-top .popup-layer .rightleft {
  transform: rotate(-45deg);
}

.cart-popup .popup-top .popup-layer .popup__header-close:hover .leftright {
  transform: rotate(-45deg);
  background-color: #a143e0;
}

.cart-popup .popup-top .popup-layer .popup__header-close:hover .rightleft {
  transform: rotate(45deg);
  background-color: #a143e0;
}

.cart-popup .popup-top .popup__content {
  margin-top: 20px;
}

.cart-popup .popup-top .popup__content .cart-empty-wrapper {
  padding-block: 60px;
  text-align: center;
}

.cart-popup .popup-top .popup__content .cart-empty-wrapper h1 {
  font-size: 35px;
  font-weight: 500;
}

.cart-popup .popup-top .popup__content .cart-empty-wrapper a {
  display: inline-flex;
  margin-top: 20px;
  min-width: 240px;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: #13ad4f;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #13ad4f;
  padding: 8px 16px;
}

.cart-popup .popup__footer {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  border-top: 1px solid #f0f0f0;
  margin: 0 0 -20px;
  background-color: #fff;
}

@media (max-width: 1024px) {
  .cart-empty-wrapper h1 {
    font-size: 28px;
  }
  .cart-empty-wrapper a {
    padding: 8px;
  }
}

@media (max-width: 768px) {
  .cart-empty-wrapper h1 {
    font-size: 25px;
  }
  .cart-empty-wrapper a {
    padding: 4px 8px;
    font-size: 14px;
  }
}
