.cart-wrapper .progress__bar-wrapper {
  padding: 15px 0 35px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.cart-wrapper .progress__bar-wrapper .progress__bar {
  height: 7px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #91f51f;
  position: relative;
}

.cart-wrapper .progress__bar-wrapper .progress__bar-precent {
  border-radius: 4px;
  inset: 0;
  position: absolute;
  width: var(--width);
  height: 100%;
  background: linear-gradient(90deg, #0f0, #e5ff00, #e66611);
  animation: all .3s ease forwards;
}

.cart-wrapper .progress__bar-wrapper .progress__bar-msg {
  text-align: center;
  text-transform: uppercase;
}

.cart-wrapper .progress__bar-wrapper .progress__bar-msg span {
  font-weight: 500;
  color: #13ad4f;
}

.cart-wrapper form {
  margin-bottom: 40px;
}

.cart-wrapper form .cart__form-header {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.cart-wrapper form .cart__form-header .cart__form-header-label {
  font-weight: 500;
  display: flex;
  align-items: center;
}

.cart-wrapper form .cart__form-header .item-product {
  max-width: 200px;
}

.cart-wrapper form .cart__form-header .item-details {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.cart-wrapper form .cart__form-header .item-details .wrapper-pqs-init {
  flex: 3;
  display: flex;
  flex-direction: row;
}

.cart-wrapper form .cart__form-header .item-details .wrapper-pqs {
  display: none;
}

@media (max-width: 1024px) {
  .cart-wrapper form .cart__form-header .item-details .wrapper-pqs-init {
    display: none;
  }
  .cart-wrapper form .cart__form-header .item-details .wrapper-pqs {
    display: block;
    flex: 2;
  }
  .cart-wrapper form .cart__form-header .item-details .cart__form-header-info {
    flex: 3;
  }
}

@media (max-width: 768px) {
  .cart-wrapper form .cart__form-header {
    display: none;
  }
}
