.block__filter__items .filter-form .filter-form__item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 8px 16px;
  gap: 10px 5px;
}

.block__filter__items .filter-form .filter-form__item .filter-wrapper {
  margin-bottom: 20px;
}

.block__filter__items .filter-form .filter-form__item .filter-wrapper .filter-title {
  margin-bottom: 10px;
  font-weight: 500;
  background-color: #05a845;
  padding: 8px;
  border-radius: 4px 0;
  color: #fff;
}

.block__filter__items .filter-form .filter-form__item .filter-wrapper .filter-option {
  max-height: 350px;
  overflow: auto;
  height: 100%;
}

.block__filter__items .filter-form .filter-form__item .filter-wrapper .filter-option .filter-group-display__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.block__filter__items .filter-form .filter-form__item .filter-wrapper .filter-option .filter-group-display__list .filter-group-display__list-item {
  margin-bottom: 5px;
}

.block__filter__items .filter-form .filter-form__item .filter-wrapper .filter-option .filter-group-display__list .filter-group-display__list-item input[type=checkbox] {
  margin-right: 5px;
}

.block__filter__items .filter-form .filter-form__item .filter-wrapper .filter-option .filter-group-display__price-range {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.block__filter__items .filter-form .filter-form__item .filter-wrapper .filter-option .filter-group-display__price-range .filter-group-display__price-range-from, .block__filter__items .filter-form .filter-form__item .filter-wrapper .filter-option .filter-group-display__price-range .filter-group-display__price-range-to {
  border-radius: 4px;
  height: 40px;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 2px 4px;
}

.block__filter__items .filter-form .filter-form__item .filter-wrapper .filter-option .filter-group-display__price-range .filter-group-display__price-range-from input[type=number], .block__filter__items .filter-form .filter-form__item .filter-wrapper .filter-option .filter-group-display__price-range .filter-group-display__price-range-to input[type=number] {
  border-radius: 4px;
  height: 40px;
  font-size: 18px;
  font-weight: 400;
  min-width: 150px;
  width: 90%;
  padding: 2px 4px;
}

.block__filter__items .filter-form .filter-form__item .filter-wrapper .filter-option .filter-group-display__price-range .filter-group-display__price-range-from span, .block__filter__items .filter-form .filter-form__item .filter-wrapper .filter-option .filter-group-display__price-range .filter-group-display__price-range-to span {
  margin-right: 5px;
}

.block__filter__items .filter-form .filter-form__item .filter-wrapper .filter-option .filter-group-display__price-range .price-dash {
  margin-right: 10px;
}

.block__filter__items .filter-form .flex_column_item {
  display: flex;
  flex-direction: column;
  width: 250px;
  max-width: 300px;
}
