.form_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.form_wrapper label {
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

.form_wrapper select {
  border: none;
  font-size: inherit;
  color: #1a1a1a;
  font-weight: 600;
  line-height: 40px;
  min-width: 142px;
  width: auto;
}

.form_wrapper select option {
  padding: 5px 15px;
  font-size: 16px;
  color: #333;
  font-weight: 400;
  transition: all .25s ease-in-out;
}

.form_wrapper select:focus {
  border-color: #666;
  outline: none;
}
