.block__filter__items .filter-form .filter-form__item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.block__filter__items .filter-form .filter-form__item .filter-wrapper {
  margin-bottom: 20px;
}

.block__filter__items .filter-form .filter-form__item .filter-wrapper .filter-title {
  margin-bottom: 10px;
  font-weight: 700;
}

.block__filter__items .filter-form .filter-form__item .filter-wrapper .filter-option .filter-group-display__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.block__filter__items .filter-form .filter-form__item .filter-wrapper .filter-option .filter-group-display__list .filter-group-display__list-item {
  margin-bottom: 5px;
}

.block__filter__items .filter-form .filter-form__item .filter-wrapper .filter-option .filter-group-display__list .filter-group-display__list-item input[type=checkbox] {
  margin-right: 5px;
}

.block__filter__items .filter-form .filter-form__item .filter-wrapper .filter-option .filter-group-display__price-range {
  display: flex;
  align-items: center;
}

.block__filter__items .filter-form .filter-form__item .filter-wrapper .filter-option .filter-group-display__price-range .filter-group-display__price-range-from, .block__filter__items .filter-form .filter-form__item .filter-wrapper .filter-option .filter-group-display__price-range .filter-group-display__price-range-to {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.block__filter__items .filter-form .filter-form__item .filter-wrapper .filter-option .filter-group-display__price-range .filter-group-display__price-range-from input[type=number], .block__filter__items .filter-form .filter-form__item .filter-wrapper .filter-option .filter-group-display__price-range .filter-group-display__price-range-to input[type=number] {
  width: 100px;
}

.block__filter__items .filter-form .filter-form__item .filter-wrapper .filter-option .filter-group-display__price-range .filter-group-display__price-range-from span, .block__filter__items .filter-form .filter-form__item .filter-wrapper .filter-option .filter-group-display__price-range .filter-group-display__price-range-to span {
  margin-right: 5px;
}

.block__filter__items .filter-form .filter-form__item .filter-wrapper .filter-option .filter-group-display__price-range .price-dash {
  margin-right: 10px;
}
