.dialog__quick-view {
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
}

.dialog__quick-view .popup-container {
  display: flex;
  gap: 10px;
  padding: 16px;
}

.dialog__quick-view .popup-container .popup__product-gallery {
  flex: 1;
  display: flex;
  gap: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 15px;
}

.dialog__quick-view .popup-container .popup__product-gallery img {
  border-radius: 4px;
  width: 100%;
  height: auto;
}

.dialog__quick-view .popup-container .popup__product-gallery .next, .dialog__quick-view .popup-container .popup__product-gallery .prev {
  text-align: center;
  fill: #079e39;
  position: absolute;
  cursor: pointer;
  border: 2px solid #079e39;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.dialog__quick-view .popup-container .popup__product-gallery .next svg, .dialog__quick-view .popup-container .popup__product-gallery .prev svg {
  width: 100%;
  height: 100%;
}

.dialog__quick-view .popup-container .popup__product-gallery .customize-tools:hover .next, .dialog__quick-view .popup-container .popup__product-gallery .customize-tools:hover .prev, .dialog__quick-view .popup-container .popup__product-gallery .customize:hover .next, .dialog__quick-view .popup-container .popup__product-gallery .customize:hover .prev {
  opacity: .7;
}

.dialog__quick-view .popup-container .popup__product-gallery .customize-tools:hover .next[aria-disabled=true], .dialog__quick-view .popup-container .popup__product-gallery .customize-tools:hover .prev[aria-disabled=true], .dialog__quick-view .popup-container .popup__product-gallery .customize:hover .next[aria-disabled=true], .dialog__quick-view .popup-container .popup__product-gallery .customize:hover .prev[aria-disabled=true] {
  display: none;
}

.dialog__quick-view .popup-container .popup__product-gallery .customize {
  flex: 1;
  order: 2;
  position: relative;
}

.dialog__quick-view .popup-container .popup__product-gallery .customize .controls {
  text-align: center;
}

.dialog__quick-view .popup-container .popup__product-gallery .customize .controls .prev {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.dialog__quick-view .popup-container .popup__product-gallery .customize .controls .prev svg {
  transform: rotate(-90deg);
}

.dialog__quick-view .popup-container .popup__product-gallery .customize .controls .next {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.dialog__quick-view .popup-container .popup__product-gallery .customize .controls .next svg {
  transform: rotate(90deg);
}

.dialog__quick-view .popup-container .popup__product-gallery .customize-tools {
  flex-basis: 100px;
  order: 1;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.dialog__quick-view .popup-container .popup__product-gallery .customize-tools .controls {
  text-align: center;
}

.dialog__quick-view .popup-container .popup__product-gallery .customize-tools .controls .prev {
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.dialog__quick-view .popup-container .popup__product-gallery .customize-tools .controls .next {
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.dialog__quick-view .popup-container .popup__product-gallery .customize-tools .controls .next svg {
  transform: rotate(180deg);
}

.dialog__quick-view .popup-container .popup__product-info {
  flex: 1;
}

.dialog__quick-view .popup-container .popup__product-info .js-btn-payment {
  display: none;
}

@media (max-width: 1023px) {
  .dialog__quick-view .popup-container .popup__product-gallery {
    flex-direction: column;
  }
  .dialog__quick-view .popup-container .popup__product-gallery .next, .dialog__quick-view .popup-container .popup__product-gallery .prev {
    width: 30px;
    height: 30px;
  }
  .dialog__quick-view .popup-container .popup__product-gallery .customize {
    order: 1;
  }
  .dialog__quick-view .popup-container .popup__product-gallery .customize-tools {
    order: 2;
  }
  .dialog__quick-view .popup-container .popup__product-gallery .customize-tools .controls .prev {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .dialog__quick-view .popup-container .popup__product-gallery .customize-tools .controls .prev svg {
    transform: rotate(-90deg);
  }
  .dialog__quick-view .popup-container .popup__product-gallery .customize-tools .controls .next {
    bottom: inherit;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    left: auto;
  }
  .dialog__quick-view .popup-container .popup__product-gallery .customize-tools .controls .next svg {
    transform: rotate(90deg);
  }
}

@media (max-width: 768px) {
  .dialog__quick-view {
    max-height: 100vh;
  }
  .dialog__quick-view .popup-container .popup__product-gallery {
    padding: 0;
  }
}

@media (max-width: 600px) {
  .dialog__quick-view .popup-container {
    flex-direction: column;
  }
  .dialog__quick-view .popup-container .popup__product-gallery {
    padding: 0;
  }
}
