.item-product-search-wrapper a {
  text-decoration: none;
  display: inline-flex;
  width: 100%;
  gap: 10px;
}

.item-product-search-wrapper a .item-image-preview {
  flex-basis: 70px;
}

.item-product-search-wrapper a .item-image-preview .image__style img {
  border-radius: 4px;
}

.item-product-search-wrapper a .item-detail {
  flex: 1;
  text-align: initial;
  line-height: 1.2rem;
  font-size: 14px;
  font-weight: 400;
  color: #000;
}

.item-product-search-wrapper a .item-detail .item-title {
  background-color: #fff !important;
}

.item-product-search-wrapper a .item-detail .item-title p .highlight {
  color: #b4b408;
}

.item-product-search-wrapper a .item-detail .money .price {
  color: #191919;
}

.item-product-search-wrapper a .item-detail .money .price_color {
  color: #05a845;
}

.item-product-search-wrapper a .item-detail .money .discount {
  color: #999;
  text-decoration: line-through;
}
