.section_container {
  padding-inline: 20px;
}

.collection__header {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.collection__header-content:first-child {
  flex: 4;
}

.collection__header-content:nth-child(2) {
  flex: 1;
}

.collection__toolbar {
  justify-content: space-between;
  margin-top: 50px;
}

.collection__toolbar, .collection__toolbar .collection__toolbar-filter {
  display: flex;
  align-items: center;
  gap: 20px;
}

.collection__toolbar .collection__toolbar-filter .collection__toolbar-filter-btn {
  align-items: center;
  gap: 10px;
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;
  transition: all .3s ease;
  position: relative;
  box-shadow: inset 1px 1px 2px 0 rgba(255, 255, 255, 0.5), 2px 2px 4px 0 rgba(0, 0, 0, 0.1), 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
  outline: none;
  --button-color:#000;
}

.collection__toolbar .collection__toolbar-filter .collection__toolbar-filter-btn.dropdown {
  display: flex;
}

.collection__toolbar .collection__toolbar-filter .collection__toolbar-filter-btn.sidebar {
  display: none;
}

.collection__toolbar .collection__toolbar-filter .collection__toolbar-filter-btn[aria-expanded=true] .hamburger {
  rotate: 45deg;
}

.collection__toolbar .collection__toolbar-filter .collection__toolbar-filter-btn .line {
  transition: 1s;
  stroke-dasharray: 60 31 60 300;
}

.collection__toolbar .collection__toolbar-filter .collection__toolbar-filter-btn[aria-expanded=true] .line {
  stroke-dasharray: 60 105 60 300;
  stroke-dashoffset: -90;
}

.collection__toolbar .collection__toolbar-filter .hamburger {
  --button-color:#000;
  transition: translate 1s,rotate 1s;
  width: 24px;
  height: 24px;
}

.collection__toolbar .collection__toolbar-sort {
  display: flex;
  align-items: center;
  gap: 20px;
}

.collection__toolbar__filter {
  max-height: 0;
  overflow: hidden;
  transition: all .3s;
  margin-top: 20px;
}

.collection__toolbar__filter.active {
  max-height: 50vh;
  overflow: auto;
  border-radius: 4px;
  margin-block: 16px;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.1);
}

.collection__toolbar__filter-sidebar {
  height: 100%;
  overflow: auto;
}

.collection__toolbar__filter-sidebar > span {
  display: none;
}

.collection__hr {
  margin-top: 20px;
  height: 1px;
  background-color: #ccc;
}

.collection-main {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.collection-main .collection-main__group-product {
  flex: 1;
}

.collection-main .collection-main__group-product .collection__products {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(var(--items_per_row), 1fr);
  overflow: hidden;
  grid-row-gap: 10px;
}

.collection-main .collection-main__group-product .collection__products-hollow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  font-size: small;
  font-style: italic;
}

.collection-main .collection-main__group-product .collection__paginate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (max-width: 1024px) {
  .collection__header {
    margin-top: 30px;
  }
  .collection__header-content:first-child, .collection__header-content:nth-child(2) {
    flex: 1;
  }
  .collection__toolbar {
    margin-top: 30px;
  }
  .collection__toolbar .collection__toolbar-filter .collection__toolbar-filter-btn.dropdown, .collection__toolbar .collection__toolbar-filter .collection__toolbar-filter-btn.sidebar {
    display: flex;
  }
  .collection__toolbar__filter-sidebar {
    position: fixed;
    inset: 0;
    width: 0;
    overflow: auto;
    background-color: #fff;
    z-index: 99;
    transition: width .5s ease-in-out;
  }
  .collection__toolbar__filter-sidebar.active {
    width: 100%;
  }
  .collection__toolbar__filter-sidebar > span {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
  }
  .collection-main .collection-main__group-product .collection__products {
    margin-top: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .collection__header {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  .collection__header-content:first-child, .collection__header-content:nth-child(2) {
    flex: none;
  }
  .collection__toolbar {
    flex-direction: column;
    align-items: normal;
  }
  .collection__toolbar .collection__toolbar-filter, .collection__toolbar .collection__toolbar-sort {
    justify-content: space-between;
  }
  .collection-main .collection-main__group-product .collection__products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 375px) {
  .section_container {
    padding-inline: 10px;
  }
  .collection__toolbar .collection__toolbar-filter, .collection__toolbar .collection__toolbar-sort {
    flex-direction: column;
    align-items: flex-start;
  }
  .collection-main .collection-main__group-product .collection__products {
    grid-template-columns: repeat(1, 1fr);
  }
}
