.popup-wapper {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s ease;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: visibility 0s linear .3s,opacity .3s ease;
}

.popup-wapper .popup-content {
  position: relative;
  width: 80%;
  min-width: 375px;
  max-width: 80vw;
  background-color: #fff;
  border-radius: 7px;
  transform: translateY(-50px);
  transition: transform .3s ease;
}

.popup-wapper .close-popup {
  position: absolute;
  top: 0;
  right: 0;
  margin: auto;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.popup-wapper .close-popup .leftright {
  transform: rotate(45deg);
}

.popup-wapper .close-popup .leftright, .popup-wapper .close-popup .rightleft {
  height: 4px;
  width: 30px;
  position: absolute;
  margin-top: 16px;
  background-color: #30a01a;
  border-radius: 2px;
  transition: all .3s ease-in;
}

.popup-wapper .close-popup .rightleft {
  transform: rotate(-45deg);
}

.popup-wapper .close-popup:hover .leftright {
  transform: rotate(-45deg);
  background-color: #a143e0;
}

.popup-wapper .close-popup:hover .rightleft {
  transform: rotate(45deg);
  background-color: #a143e0;
}

.popup-wapper.active {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transition-delay: 0s;
}

.popup-wapper.active .popup-content {
  transform: translateY(0);
  transition-delay: .1s;
}
