.product-infor-wrapper {
  flex: 1;
}

.product-infor-wrapper .product-infor {
  padding: 0 15px;
}

.product-infor-wrapper .product-infor .product-vendor {
  color: grey;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 10px;
}

.product-infor-wrapper .product-infor .product-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.8rem;
  margin-bottom: 12px;
}

.product-infor-wrapper .product-infor .product-price {
  display: flex;
  gap: 10px;
  margin: 33px 0 40px;
}

.product-infor-wrapper .product-infor .product-price .compare-price {
  font-size: 24px;
  font-weight: 500;
}

.product-infor-wrapper .product-infor .product-price .price {
  font-size: 16px;
  font-weight: 400;
  color: #03a12a;
  text-decoration: line-through;
}

.product-infor-wrapper .product-infor .hr {
  height: 1px;
  background-color: #d6d6d6;
  width: 100%;
  margin-bottom: 40px;
}

.product-infor-wrapper .product-infor .product-quantity {
  margin: 10px 0;
  font-size: 13px;
}

.product-infor-wrapper .product-infor .product-quantity .variant-inventory {
  color: #03a12a;
  font-weight: 500;
  padding-left: 10px;
}

.product-infor-wrapper .product-infor .product-cart {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.product-infor-wrapper .product-infor .product-cart .quantity-select {
  display: flex;
  flex-wrap: nowrap;
  color: #fff;
}

.product-infor-wrapper .product-infor .product-cart .quantity-select .icon {
  cursor: pointer;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}

.product-infor-wrapper .product-infor .product-cart .quantity-select .remove__qlt {
  border-radius: 4px 0 0 4px;
}

.product-infor-wrapper .product-infor .product-cart .quantity-select .add__qlt {
  border-radius: 0 4px 4px 0;
}

.product-infor-wrapper .product-infor .product-cart .quantity-select .quantity__input {
  width: 50px;
  height: 50px;
  text-align: center;
  border: none;
  outline: none;
  background-color: #f2f2f2;
}

.product-infor-wrapper .product-infor .product-cart .quantity-select .quantity__input::-webkit-inner-spin-button, .product-infor-wrapper .product-infor .product-cart .quantity-select .quantity__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product-infor-wrapper .product-infor .product-cart .quantity-select .quantity__input[type=number] {
  -moz-appearance: textfield;
}

.product-infor-wrapper .product-infor .product-cart .add-to-cart {
  flex: 1;
  min-width: 200px;
}

.product-infor-wrapper .product-infor .product-cart .add-to-cart .btn-add {
  gap: 10px;
  width: 100%;
  height: 100%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #03a12a;
  border: 4px;
  color: #fff;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.product-infor-wrapper .product-infor .product-cart .add-to-cart .btn-add svg path {
  stroke: #fff;
}

.product-infor-wrapper .product-infor .product-cart .add-to-cart .btn-add:has(> span.sold-out) {
  opacity: .4;
}

.product-infor-wrapper .product-infor .list-link {
  display: flex;
  margin-bottom: 20px;
}

.product-infor-wrapper .product-infor .list-link .wish-list {
  display: flex;
  gap: 4px;
  font-size: 12px;
}

.product-infor-wrapper .product-infor .list-link .wish-list.active svg path {
  stroke: red;
  fill: red;
}

.product-infor-wrapper .product-infor .product-tags {
  margin-bottom: 5px;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
}

.product-infor-wrapper .product-infor .product-tags span {
  min-width: 40px;
  font-weight: 500;
}

.product-infor-wrapper .product-infor .product-tags ul {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.product-infor-wrapper .product-infor .product-tags ul li {
  display: inline-block;
}

.product-infor-wrapper .product-infor .product-sku {
  display: flex;
  font-size: 12px;
}

.product-infor-wrapper .product-infor .product-sku span {
  min-width: 40px;
  font-weight: 500;
}
