.product-gallery-wrapper {
  flex: 1;
  display: flex;
  gap: 10px;
}

.product-gallery-wrapper .product-gallery {
  flex-basis: 100px;
}

.product-gallery-wrapper .product-main {
  flex: 1;
}

img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 4px;
}
