.card .card__inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.card .card__inner .card__image-wrapper {
  position: relative;
}

.card .card__inner .card__image-wrapper .image__style {
  padding-top: 100%;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  margin-inline: 30px;
}

.card .card__inner .card__image-wrapper .image__style img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 4px;
  top: 0;
  left: 0;
  transition: transform .3s ease;
}

.card .card__inner .card__image-wrapper .image__style img:hover {
  transform: scale(1.1);
}

.card .card__inner .card__image-wrapper .card__group {
  position: absolute;
  bottom: 0;
  left: 0;
}

.card .card__inner .card__image-wrapper .card__group button {
  font-size: 13px;
  font-weight: 600;
  background-color: #fff;
  border-radius: 4px;
  padding: 6px 8px;
  border: 1px solid #ccc;
}

.card .card__inner .card__image-wrapper .card__group button svg path {
  stroke: #05a845;
}

.card .card__inner .card__image-wrapper .card__group:hover button {
  background-color: #05a845;
  border: none;
  outline: none;
}

.card .card__inner .card__image-wrapper .card__group:hover .jsViewCart svg path {
  fill: #fff;
}

.card .card__inner .card__image-wrapper .card__group:hover svg path {
  stroke: #fff;
}

.card .card__inner .card__image-wrapper .tag {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 400;
  background-color: #ff9923;
  padding: 3px 8px;
  color: #fff;
}

.card .card__inner .card__content {
  margin-top: 15px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card .card__inner .card__content .card-title {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5rem;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  padding-right: 30px;
}

.card .card__inner .card__content .money {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.2rem;
  font-size: 16px;
  gap: 5px;
}

.card .card__inner .card__content .money .price {
  color: #191919;
}

.card .card__inner .card__content .money .price_color {
  color: #05a845;
}

.card .card__inner .card__content .money .discount {
  color: #999;
  text-decoration: line-through;
}

.card .card__inner .card__content .sold_out {
  color: #ccc;
  font-size: 16px;
  font-weight: 500;
}
