.section_container {
  margin-top: 20px;
}

.section_container .product-description {
  padding-left: 20px;
}

.section_container .product-description .tab__panel-wrapper .tab__panel-header {
  display: flex;
  background-color: #fff;
  flex-wrap: wrap;
  justify-content: center;
}

.section_container .product-description .tab__panel-wrapper .des_btn {
  flex: 0 0 70px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color .3s ease;
  color: #000;
  padding: 10px;
  white-space: nowrap;
}

.section_container .product-description .tab__panel-wrapper .des_btn:hover {
  background-color: #eee;
}

.section_container .product-description .tab__panel-wrapper .des_btn.active {
  background-color: #fff;
  border-bottom: 3px solid #000;
}

.section_container .product-description .tab__panel-wrapper .tab__panel-body .tab__panel-item {
  display: none;
}

.section_container .product-description .tab__panel-wrapper .tab__panel-body .tab__panel-item.active {
  display: block;
}

.section_container .product-description .tab__panel-wrapper .tab__panel-body .tab__panel-item .tab__panel-content {
  margin-top: 10px;
  max-height: 40vh;
  overflow-y: auto;
}

.section_container .product-description .tab__panel-wrapper .tab__panel-body .tab__panel-item .tab__panel-content h5 {
  font-size: medium;
  font-weight: 500;
  padding-block: 10px;
}

.section_container .product-description .tab__panel-wrapper .tab__panel-body .tab__panel-item .tab__panel-content p {
  font-size: small;
  font-weight: 400;
  line-height: 1.3rem;
}

.section_container .product-description .tab__panel-wrapper .tab__panel-body .item__body {
  display: none;
}

@media (max-width: 700px) {
  .section_container .product-description {
    padding-left: 10px;
  }
  .section_container .product-description .tab__panel-wrapper .tab__panel-body .tab__panel-item.jsBodyTab, .section_container .product-description .tab__panel-wrapper .tab__panel-body .tab__panel-item.jsBodyTab.active, .section_container .product-description .tab__panel-wrapper .tab__panel-header {
    display: none;
  }
  .section_container .product-description .tab__panel-wrapper .tab__panel-body .item__body {
    display: block;
    margin: 8px 8px 8px 0;
  }
  .section_container .product-description .tab__panel-wrapper .tab__panel-body .item__body .tab_header-body {
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    display: flex;
    border-radius: 4px;
    padding: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  .section_container .product-description .tab__panel-wrapper .tab__panel-body .item__body .tab_header-body span {
    font-size: 14px;
    font-weight: 500;
  }
  .section_container .product-description .tab__panel-wrapper .tab__panel-body .item__body .tab__panel-item {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity .5s ease,max-height .5s ease;
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
      max-height: 0;
    }
    to {
      opacity: 1;
      max-height: 500px;
    }
  }
  .section_container .product-description .tab__panel-wrapper .tab__panel-body .item__body .tab__panel-item.active {
    animation: fade-in .5s ease;
    opacity: 1;
    max-height: 500px;
  }
}
