.section-container {
  max-width: var(--max_width);
  margin: 0 auto;
  margin-top: var(--section_margin_top);
  --item_width:1;
  width: 100%;
  --btn_padding:6px 60px;
  --font_weight_button:500;
  --font_button:16px;
  --btn_color:#000;
  --btn_background:transparent;
  --btn_border:1px solid #000;
  --text_decoration:none;
  --height_image:100%;
  position: relative;
  --font_weight_sub_title:400;
  --text-align:center;
}

.section-container .number_count_up {
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  color: #fff;
  font-size: 60px;
  font-weight: 700;
}

.section-container .section-container__heading {
  font-size: calc(30px + .39063vw);
  margin-bottom: 20px;
  text-align: center;
  font-weight: 500;
}

.section-container .section-container__list {
  display: grid;
  gap: var(--item_gap);
  margin-inline: var(--margin_list);
}

.section-container .section-container__list .section-container__list__item {
  position: relative;
  width: calc(100%/var(--item_width));
  padding-inline: var(--item_padding);
}

.section-container .section-container__list .section-container__list__item .section-container__list__item__image1 {
  max-width: 100%;
  height: var(--height_image);
  overflow: hidden;
  position: relative;
  padding-top: var(--padding_top) !important;
  animation: opacity 1.3s cubic-bezier(0, 0.51, 0.25, 1) 0s forwards;
  border-radius: var(--border_radius);
}

.section-container .section-container__list .section-container__list__item .section-container__list__item__image1 img {
  max-width: 100%;
  width: var(--image_width);
  height: var(--height_image);
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -o-object-position: center !important;
  object-position: center !important;
  border-radius: var(--border_radius);
}

.section-container .section-container__list .section-container__list__item .section-container__list__item__image2 {
  max-width: 100%;
  height: var(--height_image);
  overflow: hidden;
  position: relative;
  padding-top: var(--padding_top) !important;
  animation: opacity 1.3s cubic-bezier(0, 0.51, 0.25, 1) 0s forwards;
  border-radius: var(--border_radius);
  display: none;
}

.section-container .section-container__list .section-container__list__item .section-container__list__item__image2 img {
  max-width: 100%;
  width: var(--image_width);
  height: var(--height_image);
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -o-object-position: center !important;
  object-position: center !important;
  border-radius: var(--border_radius);
}

.section-container .section-container__list .section-container__list__item .section-container__list__item__content {
  position: var(--position);
  left: var(--left);
  bottom: var(--bottom);
  top: var(--top);
  display: flex;
  flex-direction: column;
  gap: var(--gap_content);
  align-items: var(--align_item);
  margin-top: var(--content_margin_top);
  transform: var(--transform);
  color: var(--content_text_color);
}

.section-container .section-container__list .section-container__list__item .section-container__list__item__content .section-container__list__item__content__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--color);
}

.section-container .section-container__list .section-container__list__item .section-container__list__item__content .section-container__list__item__content__text h5 {
  font-weight: 500;
  font-size: var(--font_title);
  line-height: 60px;
  white-space: var(--title_wap);
  text-align: var(--text_align);
}

.section-container .section-container__list .section-container__list__item .section-container__list__item__content .section-container__list__item__content__text p {
  font-weight: var(--font_weight_sub_title);
  font-size: var(--font_sub_title);
  line-height: 32px;
}

.section-container .section-container__list .section-container__list__item .section-container__list__item__content .section-container__list__item__content__buttons {
  display: flex;
  gap: 10px;
}

.section-container .section-container__list .section-container__list__item .section-container__list__item__content .section-container__list__item__content__buttons .section-container__list__item__content__buttons--first a, .section-container .section-container__list .section-container__list__item .section-container__list__item__content .section-container__list__item__content__buttons .section-container__list__item__content__buttons--second a {
  display: block;
  line-height: 24px;
  -webkit-text-decoration: var(--text_decoration);
  text-decoration: var(--text_decoration);
  border-radius: 4px;
  padding: var(--btn_padding);
  font-size: var(--font_button);
  color: var(--btn_color);
  background: var(--btn_background);
  text-align: var(--text-align);
  border: var(--btn_border);
  font-weight: var(--font_weight_button);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1024px) {
  .section-container .number_count_up {
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
  }
  .section-container .section-container__list {
    gap: var(--item_gap);
    margin-inline: var(--margin_inline);
    margin-top: var(--margin_top_list);
  }
  .section-container .section-container__list .section-container__list__item {
    padding-top: var(--padding_top_item);
  }
  .section-container .section-container__list .section-container__list__item .section-container__list__item__content .section-container__list__item__content__text h5 {
    line-height: 40px;
  }
  .section-container .section-container__list .section-container__list__item .section-container__list__item__content .section-container__list__item__content__text p {
    line-height: 30px;
  }
}

@media (max-width: 768px) {
  .section-container .number_count_up {
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
  }
  .section-container .section-container__list {
    gap: var(--item_gap);
    margin-inline: var(--margin_inline);
  }
  .section-container .section-container__list .section-container__list__item .section-container__list__item__image1 {
    display: none;
  }
  .section-container .section-container__list .section-container__list__item .section-container__list__item__image2 {
    display: flex;
  }
  .section-container .section-container__list .section-container__list__item .section-container__list__item__content .section-container__list__item__content__text h5 {
    line-height: 35.2px;
  }
  .section-container .section-container__list .section-container__list__item .section-container__list__item__content .section-container__list__item__content__text p {
    line-height: 28.8px;
  }
  .section-container .section-container__list .section-container__list__item .section-container__list__item__content .section-container__list__item__content__buttons {
    display: flex;
    flex-direction: column;
    width: var(--width);
  }
  .section-container .section-container__list .section-container__list__item .section-container__list__item__content .section-container__list__item__content__buttons .section-container__list__item__content__buttons--first a, .section-container .section-container__list .section-container__list__item .section-container__list__item__content .section-container__list__item__content__buttons .section-container__list__item__content__buttons--second a {
    line-height: 21px;
  }
}
